/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.home,
.board,
.contact,
.donate,
.forest,
.ccfs,
.volunteer,
.get-involved {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
