.donation-content {
    width: 100%;
}

.form-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../images/land-trust.png");
    background-size: cover;
}

.form-section-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
}
.iframe-container {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.form-about {
    margin-top: 2vh;
    width: 100%;
    padding: 30px;
}

.donation-form {
    height: 775px;
    border: 0px;
    overflow: hidden;
    width: 100%;
    margin-top: -35px;
    margin-bottom: -15px;

}
.canada-helps-logo {
    width: 168px;
    height: 80px;
}
.canada-helps-section {
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}
.canada-helps-section > p {
    line-height: 24px;
    font-weight: 300;
}
.profile-here {
    text-decoration: none;
    color: #6e9b3f;
}

#cdn-mount {
    margin: -10px 5px;
}

.form-about > p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
}
.form-about > h2 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    line-height: 33.6px;
    font-family: "Questrial", sans-serif;
}

.form-about > h3 {
    font-family: "Be Vietnam", sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 14.4px;
}

.payment-methods {
    width: 100%;
}

.payment-methods-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.bank-transfers, 
.paypal, 
.other-ways {
    padding: 1vh;
    width: 33%;
}

.bank-transfers {
    background-color: #EFEFEF;
}

.payment-methods-heading {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 20px;
}

.bank-transfers > p, 
.paypal > p, 
.other-ways > p {
    font-family: "Be Vietnam", sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
}
.paypal > p {
    margin-top: 20px;
}