.updated {
  font-family: "Questrial", sans-serif;
  color: #a8ba3a;
  font-size: 28px;
  margin-bottom: 30px;
}

footer {
  background: #6e8b3f;
  display: flex;
  padding: 165px 0 33px 0;
  justify-content: space-around;
}

.footer-container::before {
  position: absolute;
  content: "";
  background: url("../svg/footer-svg.svg") no-repeat;
  background-size: cover;
  padding-top: 110px;
  height: 40px;
  width: 100%;
}

.social {
  margin-top: 20px;
}

.social > a {
  font-size: 45px;
  color: #54595f;
  margin: 0px 20px;
}

.social > a:hover {
  color: #6c727a;
}

.form-container {
  display: flex;
}
.input-style {
  padding: 10px 60px 10px 5px;
  text-align: left;
  margin-bottom: 8px;
}
.submit-btn {
  background: #a8ba3a;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  color: #fff;
}

.submit-btn:hover {
  background: #86aa4b;
}

.footer-container > p {
  text-align: center;
  background-color: #6e8b3f;
  padding-bottom: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  .social {
    margin-left: auto;
    margin-right: auto;
  }
  .form-container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}