.sub-banner-container {
  width: 100%;
  background-color: #607949;
  margin-top: 8vh;
}

.sub-banner-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  max-width: 1600px;
  padding: 65px 10px;
}

.banner-text-left > h2,
.banner-text-left > p {
  color: #fff;
}

.banner-text-left > h2 {
  margin-top: 8px;
  margin-bottom: 16px;
}

.banner-text-left > p {
  font-size: 16px;
  font-weight: 300;
}

.sub-banner-form > p {
  color: #fff;
  font-size: 11px;
  font-weight: 300;
}

.banner-text-left > p,
.sub-banner-form > p {
  font-family: "Be Vietnam Pro", sans-serif;
}

.banner-text-left {
  width: 50%;
  margin-bottom: auto;
}

.sub-banner-form {
  width: 50%;
}

.stay-updated {
  font-family: "Questrial", sans-serif;
  font-size: 44px;
  font-weight: 400;
}

.fa-tree {
  font-size: 44px;
  color: #fff;
  transform: translate(-45px, 50px);
}

/* Form styles */

.sub-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.sub-submit-btn {
  margin-bottom: 20px;
  padding: 8px 16px;
  background: #cbd6ba;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #54595f;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  font-weight: 400;
}
.sub-submit-btn:hover {
  background: #272e1d;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .sub-banner-content {
    flex-direction: column;
  }

  .banner-text-left,
  .sub-banner-form {
    width: 100%;
  }
  .banner-text-left {
    text-align: center;
  }
  .fa-tree {
    transform: translate(0%, -15%);
  }

  .banner-text-left > p {
    margin-bottom: 2vh;
  }
}
.visually-hidden {
  display: none;
}
