.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #55595c;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #55595c;
}
