.sub-banner-container {
  width: 100%;
  background-color: #607949;
  margin-top: 8vh;
}

.sub-banner-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding: 65px 10px;
}

.banner-text-left > h2,
.banner-text-left > p {
  color: #fff;
}

.banner-text-left > h2 {
  margin-top: 8px;
  margin-bottom: 16px;
}

.banner-text-left > p {
  font-size: 16px;
  font-weight: 300;
}

.sub-banner-form > p {
  color: #fff;
  font-size: 11px;
  font-weight: 300;
}

.banner-text-left > p,
.sub-banner-form > p {
  font-family: "Be Vietnam Pro", sans-serif;
}

.banner-text-left {
  width: 50%;
}

.sub-banner-form {
  width: 50%;
}

.sub-input {
  width: 100%;
}

.stay-updated {
  font-family: "Questrial", sans-serif;
  font-size: 44px;
  font-weight: 400;
}
