/* h1 {
  text-align: center;
  font-size: 3rem;
  background-color: #6e9b3f;
  padding: 30px;
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 44px;
  overflow-wrap: break-word;
  font-weight: 400;
} */
