/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.banner-title {
  text-align: center;
  font-size: 3rem;
  background-color: #6e9b3f;
  padding: 30px;
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 44px;
  overflow-wrap: break-word;
  font-weight: 400;
}
